@font-face{
	font-family: "RobotoRegular";
	src: url("..//fonts/RobotoRegular.ttf")
}
@font-face{
	font-family: "RobotoBold";
	src: url("..//fonts/RobotoBold.ttf")
}
@font-face{
	font-family: "RobotoLight";
	src: url("..//fonts/RobotoLight.ttf")
}
@font-face{
	font-family: "vida31";
	src: url("..//fonts/vida31pro.otf")
}
@font-face{
	font-family: "vida33";
	src: url("..//fonts/vida33pro.otf")
}