@import "fonts", "reset";
body{
	max-width: 1400px;
	margin: 0 auto;
	
}
header{
	width: 100%;
	margin: 0 auto;
	margin-top: 30px;
	min-height: 70px;
	padding-bottom: 10px;
	border-bottom: 1px solid #dce6e9;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
	.logo{
		margin-left: 5%;

	}
	.contact{

		margin-right: 5%;
		text-align: right;
		h1{
			font-size: 20px;
			color: #304f55;
		}
		
		a.message{
			border-bottom: 1px dotted #4a5f62;
			color: #4a5f62;
		}
		
		
	}
}





nav{
	padding-left: 5%;
	padding-right: 5%;
	.main_menu{
		display: inline-flex;
		flex-wrap: wrap;
		li{
			list-style-type: none;
			height: 45px;
			text-align: center;
			a{
				display: block;
				margin-top: 12px;
				text-align: center;
				padding: 0 15px;
				border-right: 1px solid #dce6e9;
				font-family: "vida31";
				font-size: 15px;
			}
		}
		li:hover{
			background-color: #6cb243;
			a{
				border-right: none;
				color: #fff;
			}
		}
		li:last-child a{
			border-right: none;
		}
		.sub_menu{
			display: none;
			width: 120%;
			position: relative;
			z-index: 3;
			top: 15px;
			border-top: 2px solid #6cb143;
			li{
				padding: 0;
				width: 100%;
				background-color: #fff;
				display: flex;
				align-items: center;
				justify-content: center;
				a{
					color: #000;
					padding: 0;
					margin: 0;
				}
			}
		}
		.prod:hover{
			.sub_menu{
				display: block;
				position: relative;
				top: 15px;
				border-top: 2px solid #6cb143;
				li:hover{
					background-color: #eaf4f7;
				}			
			}
		}
	}



	.search{
		    height: 45px;
		float: right;
		display: flex;
		align-items: center;
		justify-content: center;
		form{
			.search_bar{
				display: none;

			}
			.search_btn{
				border: none;

			}
			.search_btn:focus, .search_btn:active, .search_bar:hover{
				
					display: block;
				
			}
		}
	}
}












section.slider{
	height: 616px;
	.bxslider{
		li{
			background: url("..//images/slider_bg.jpg") no-repeat;
			padding-top: 220px;
			padding-bottom: 200px;
			padding-left: 50px;
			h1{
				font-size: 48px;
				color: #354343;
				font-family: "vida33";
			}
			p{
				font-size: 15px;
				font-family: "RobotoLight";
				color: #354343;
				display: block;
				width: 500px;

			}
			.more_btn{
				width: 140px;
				height: 40px;
				background-color: #32494c;
				border: none;
				border-radius: 2px;
				font-size: 15px;
				font-family: "RobotoLight";
				color: #fff;
			}
		}
	}
}


section.products{
	display: inline-flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 100%;
	padding-bottom: 40px;
	div.prof_series{
		h1{
			width: 330px;
   			text-align: center;
		}
		img{
			position: absolute;
			top: 676px;
		}
	}
	div.home_series{
		h1{
			width: 230px;
    		text-align: center;
		}
		img{
			position: absolute;
			top: 666px;
		}
	}
	div.product_block{
		border: 1px solid #e8e8e8;
		height: 145px;
		width: 570px;
		padding-left: 20px;
		color: #354343;
		img{
		    float: right;
		    margin-left: 290px;
		}
		


		h1{
			font-family: "vida33";
			font-size: 24px;
			background-color: #fff;
		    position: relative;
		    bottom: 15px;
		}
		p{
			font-family: "RobotoLight";
			font-size: 15px;
			margin-left: 15px;
			margin-bottom: 20px;
			width: 350px;
		}
		a{
			font-family: "RobotoLight";
			color: #556060;
			margin-left: 15px;
			margin-top: 20px;
		}
	}
	
}




@import "adaptive";