@media (min-device-width: 1920px) {
  section.bottom_block {
    background-size: 100%; } }

@media (max-device-width: 1199px) {
  header .top .lang {
    padding-left: 83px; }
  header .top .social {
    padding-left: 99px; }
  header .middle .webcam_btn {
    margin-top: 25px; }
  header .middle .contact {
    margin-left: -15px;
    margin-top: 20px;
    text-align: center; }
  .slider_block {
    background-size: cover; }
  section.news .card {
    margin-top: 30px; }
  section.bottom_block .card {
    margin-top: 30px; }
  section.bottom_block {
    background-size: cover; }
  .vid iframe {
    width: 550px; }
  h1.block_title::before {
    left: 20%; }
  h1.block_title::after {
    right: 20%; }
  .news_page button.read_more {
    margin-top: 0; }
  .news_page h2 {
    margin-top: 0; }
  .news_page h1.block_title::before {
    left: 10%; }
  .news_page h1.block_title::after {
    right: 10%; }
  .cottage_big_pic img {
    width: 108%;
    margin-top: 5px; }
  .room_inside h1.block_title::before {
    left: 25%; }
  .room_inside h1.block_title::after {
    right: 25%; }
  .photo_archive {
    margin-right: 90px; }
  .saun, .rest, .bil {
    text-align: center; }
    .saun img, .rest img, .bil img {
      margin-bottom: 15px; } }

@media (min-device-width: 768px) and (max-device-width: 992px) {
  header nav.navbar ul.nav {
    margin-bottom: 13px; } }

@media (max-device-width: 992px) {
  section.bottom_block .card:nth-child(2) {
    margin-right: 0; }
  section.news .card:nth-child(3) {
    margin-right: 30px; }
  footer .copy {
    text-align: center;
    margin-left: 160px;
    margin-top: 20px; }
  footer .contact {
    text-align: center;
    margin-left: 120px;
    margin-bottom: 20px; }
  section.news h1::before {
    left: 20%; }
  section.news h1::after {
    right: 20%; }
  .vid {
    padding: 0; }
    .vid iframe {
      width: 750px; }
  .slider_block .order form {
    flex-wrap: wrap;
    justify-content: center; }
  .slider_block .order input, .slider_block .order select, .slider_block .order button {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px; }
  .slider_block .order .calendar1, .slider_block .order .calendar2 {
    top: 30px; }
  .contacts button {
    margin-bottom: 30px; }
  .friends h1.block_title::before {
    left: 15%; }
  .friends h1.block_title::after {
    right: 15%; }
  .news_page h1.block_title::before, .news_page h1.block_title::after {
    display: none; }
  .room_inside .title-bottom h1.block_title::before {
    left: 0; }
  .room_inside .title-bottom h1.block_title::after {
    right: 0; }
  .photo_archive {
    margin-right: 0; } }

@media (max-device-width: 768px) {
  footer .copy {
    margin-left: 0; }
  footer .contact {
    margin-left: 0; }
  .footer_menu {
    text-align: center; }
    .footer_menu ul {
      padding: 0; }
  header .top {
    text-align: center; }
  header .top .search input {
    margin-right: -39px;
    padding-right: 35px; }
  header .top .search button {
    position: relative;
    left: -3px;
    top: -2px;
    float: none; }
  header .top .social {
    padding-left: 15px;
    margin-top: 15px; }
  header .top .lang {
    padding-left: 15px;
    margin-top: 10px; }
  header .middle .logo, header .middle .weather, header .middle .webcam {
    text-align: center; }
  header .middle .weather table {
    margin: 0 auto;
    margin-top: 20px; }
    header .middle .weather table tr:nth-child(2) td {
      padding: 15px 0; }
  header .middle .contact {
    text-align: center;
    margin-left: 0;
    padding-left: 15px; }
  header nav.navbar ul.nav {
    flex-wrap: wrap;
    padding-bottom: 15px; }
  header nav.navbar ul.nav li {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    border-top: 1px solid #fff;
    border-left: none; }
    header nav.navbar ul.nav li a {
      display: block;
      width: 100%; }
  header nav.navbar ul.nav li:first-child {
    border-top: none; }
  header nav.navbar ul.nav a:hover {
    border-color: transparent; }
  section.bottom_block .card {
    margin-right: 0; }
  .vid iframe {
    width: 100%; }
  .slider_block .order .calendar1, .slider_block .order .calendar2 {
    display: none; }
  h1.block_title::before, h1.block_title::after {
    display: none; }
  .contacts .text {
    text-align: center; }
  .news_page .news_min_article {
    text-align: center; }
  .news_page button.read_more {
    float: none; }
  .cottage .info_line {
    justify-content: center;
    text-align: center; }
  .cottage .cottage_slider_block {
    max-width: 564px; }
  .fond_pics {
    display: flex;
    flex-direction: column; }
  .room_inside .room_carusel_block {
    max-width: 564px; }
  .room_inside .plans_block {
    text-align: center; } }

@media (min-device-width: 992px) and (max-device-width: 1199px) {
  section.text .container {
    width: 100%; }
  .video_block .text_block {
    padding: 10px 45px 0 30px;
    margin-bottom: -10px; }
  section.news .card:nth-child(2) {
    margin-right: 0; }
  section.bottom_block .card:nth-child(3) {
    margin-right: 0; } }

@media (max-device-width: 768px) and (min-device-width: 541px) {
  section.bottom_block .card {
    margin-right: 30px; } }

@media (max-device-width: 680px) {
  .slider_block .controls {
    display: none; }
  .slider_block .text_block {
    width: 100%;
    padding-bottom: 30px; }
    .slider_block .text_block h1 {
      text-align: center; }
  .slider_block .more {
    margin-bottom: 30px; }
  section.news h1::before, section.news h1::after {
    display: none; }
  section.text .pic img {
    width: 96%; }
  .popup {
    left: 25%;
    top: 5%; } }

@media (max-device-width: 592px) {
  .slider_block .order input, .slider_block .order select, .slider_block .order button {
    width: 80%; }
  .cottage .cottage_slider_block {
    width: 100%; }
  .cottage #bx-pager {
    flex-wrap: wrap;
    justify-content: center; }
  .room_inside #bx-pager {
    flex-wrap: wrap;
    justify-content: center; } }

@media (max-device-width: 575px) {
  .cottage .controls {
    bottom: 400px; }
  .room_inside .controls {
    bottom: 400px; }
  .room_inside .plans_block img {
    width: 100%;
    margin-bottom: 30px; } }

@media (max-device-width: 510px) {
  .popup {
    width: 100%;
    left: 0; } }

@media (max-device-width: 400px) {
  .slider_block .text_block h1 {
    font-size: 36px; }
  section.news .card-line {
    width: 108%; }
  section.news .card {
    width: 300px;
    margin: 15px auto; }
  section.news .news_img img {
    width: 88%; }
  section.news .card:nth-child(3) {
    margin-right: auto; }
  .news_article .news_pic img {
    width: 95%; }
  .room_inside .pic_card {
    max-width: 300px;
    padding: 0; }
    .room_inside .pic_card img {
      max-width: 300px; }
  .room_inside .fond_fade {
    max-width: 300px; } }
