/*FOOTER*/
footer {
  background: url("..//images/fish_pattern.png");
  padding-top: 43px;
  padding-bottom: 50px;
  margin-top: -8px; }
  footer .contact .social {
    margin-top: 10px; }
  footer .contact .email {
    font-family: "OpenSans";
    font-size: 16px;
    color: #fff;
    font-weight: normal;
    padding-left: 10px; }
  footer .contact .phone {
    font-family: "OpenSans";
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    padding-left: 15px; }
  footer .footer_menu a {
    display: inline-block;
    font-family: "OpenSans";
    font-weight: normal;
    color: #fff;
    font-size: 16px; }
  footer .footer_menu a:hover {
    text-decoration: underline; }
  footer .footer_menu li {
    list-style-type: none; }
  footer .copy {
    text-align: right; }
    footer .copy span {
      font-family: "PT_Sans";
      font-size: 16px;
      color: #fff; }
    footer .copy span:nth-child(2) {
      display: block; }
    footer .copy a {
      font-family: "PT_Sans";
      font-size: 16px;
      color: #fab76c; }
