/*HEADER*/
header .top {
  padding-top: 8px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6; }
  header .top .email {
    margin-top: 10px; }
    header .top .email span {
      color: #5a5a5a;
      font-family: "OpenSans";
      font-weight: normal;
      font-size: 16px;
      padding-left: 10px; }
  header .top .search {
    margin-top: 9px;
    /* Firefox 19+ */
    /* Firefox 18- */ }
    header .top .search ::-webkit-input-placeholder {
      color: #979292;
      font-family: "OpenSans";
      font-weight: normal;
      font-size: 14px; }
    header .top .search ::-moz-placeholder {
      color: #979292;
      font-family: "OpenSans";
      font-weight: normal;
      font-size: 14px; }
    header .top .search :-moz-placeholder {
      color: #979292;
      font-family: "OpenSans";
      font-weight: normal;
      font-size: 14px; }
    header .top .search :-ms-input-placeholder {
      color: #979292;
      font-family: "OpenSans";
      font-weight: normal;
      font-size: 14px; }
    header .top .search input {
      border: none;
      border-radius: 30px;
      background-color: #e6e6e6;
      width: 267px;
      height: 30px;
      padding-left: 11px;
      padding-right: 40px; }
    header .top .search button {
      float: right;
      position: absolute;
      top: 2px;
      left: 239px;
      background: none;
      border: none; }
  header .top .social {
    padding-left: 50px; }
    header .top .social img {
      opacity: 0.7;
      transition: all 0.5s linear; }
    header .top .social img:hover {
      opacity: 1; }
  header .top .lang {
    margin-top: 5px; }
    header .top .lang button {
      width: 68px;
      background-color: #e6e6e6;
      border: none;
      font-family: "OpenSans";
      font-weight: normal;
      color: #5a5a5a;
      font-size: 16px;
      border-radius: 12px;
      transition: all 0.3s linear; }
      header .top .lang button img {
        margin-left: -10px;
        margin-bottom: 1px; }
    header .top .lang button:hover, header .top .lang button.active {
      background-color: #448ccb;
      color: #fff; }

header .middle {
  padding-top: 12px;
  padding-bottom: 12px; }
  header .middle .weather table {
    max-width: 425px;
    font-family: "OpenSans";
    font-weight: normal;
    font-size: 16px;
    color: #5a5a5a;
    line-height: 1.3; }
  header .middle .weather td:nth-child(even) {
    text-align: center;
    color: #448ccb; }
  header .middle .weather td:nth-child(2) {
    border-right: 1px solid #e6e6e6;
    padding-right: 5px; }
  header .middle .weather td:nth-child(3) {
    padding-left: 10px; }
  header .middle .webcam_btn {
    width: 166px;
    height: 45px;
    border: none;
    border-radius: 10px;
    background-color: #e6e6e6;
    font-family: "OpenSans";
    font-weight: normal;
    font-size: 16px;
    color: #5a5a5a;
    margin-top: 40px;
    transition: all 0.5s linear; }
  header .middle .webcam_btn:hover {
    background-color: #dbdbdb; }
  header .middle .contact {
    font-family: "OpenSans"; }
    header .middle .contact span {
      font-weight: bold;
      font-size: 16px;
      color: #5a5a5a; }
      header .middle .contact span img {
        padding-right: 8px; }
    header .middle .contact button {
      width: 165px;
      height: 35px;
      font-size: 16px;
      color: #fff;
      font-weight: normal;
      border: none;
      border-radius: 17px;
      margin-top: 7px;
      transition: all .2s linear; }
    header .middle .contact .call {
      background-color: #448ccb; }
    header .middle .contact .call:hover {
      background-color: #267dc8; }
    header .middle .contact .route {
      background-color: #68c201; }
    header .middle .contact .route:hover {
      background-color: #7fc72c; }

header nav.navbar {
  background-color: #448ccb;
  border: none;
  border-radius: 0;
  margin-bottom: 0; }
  header nav.navbar ul.nav {
    display: inline-flex;
    width: 100%;
    justify-content: center; }
    header nav.navbar ul.nav li {
      padding-left: 30px;
      padding-right: 30px;
      border-left: 1px solid #8fbae0; }
    header nav.navbar ul.nav li:nth-child(1) {
      border-left: none; }
    header nav.navbar ul.nav a {
      text-align: center;
      color: #fff;
      display: inline-block;
      border-bottom: 1px solid transparent;
      padding: 0;
      transition: all 0.3s linear; }
    header nav.navbar ul.nav a:hover, header nav.navbar ul.nav a:active, header nav.navbar ul.nav a:focus {
      background-color: #448ccb;
      color: #fff;
      border-color: #fff; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff; }
