.popup_fade {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.4;
  position: fixed;
  left: 0;
  top: 0;
  display: none; }

.popup {
  position: fixed;
  left: 33%;
  top: 33%;
  display: none; }
  .popup .title {
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: #448ccb;
    border-radius: 3px 3px 0 0; }
    .popup .title h1 {
      font-family: "Open Sans";
      font-size: 24px;
      color: #fff;
      margin: 0;
      text-align: center; }
    .popup .title #close_popup {
      background: none;
      border: none;
      padding: 0;
      float: right;
      margin-bottom: 15px;
      position: relative;
      top: -15px;
      right: 10px; }
  .popup .form_wrapper {
    background-color: #fff;
    width: 100%;
    padding-top: 30px;
    border-bottom: 8px solid #448ccb;
    border-radius: 0 0 3px 3px; }
  .popup form {
    max-width: 275px;
    margin: 0 auto; }
  .popup input {
    width: 275px;
    height: 40px;
    border: none;
    background-color: #e6e6e6;
    padding-left: 15px;
    margin-bottom: 11px; }
  .popup .submit_btn {
    background-color: #68c201;
    color: #fff;
    width: 275px;
    height: 40px;
    border: none;
    font-size: 16px;
    font-family: "Open Sans";
    margin-top: 20px;
    margin-bottom: 30px; }
