/* RESET */
a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #000; }

input, button, a:focus, select {
  outline: none; }

@font-face {
  font-family: "OpenSans";
  font-weight: normal;
  src: url("..//fonts/OpenSans-Regular.ttf"); }

@font-face {
  font-family: "OpenSans";
  font-weight: bold;
  src: url("..//fonts/OpenSans-Bold.ttf"); }

@font-face {
  font-family: "PT_Sans";
  src: url("..//fonts/PT_Sans-Web-Regular.ttf"); }

/*HEADER*/
header .top {
  padding-top: 8px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6; }
  header .top .email {
    margin-top: 10px; }
    header .top .email span {
      color: #5a5a5a;
      font-family: "OpenSans";
      font-weight: normal;
      font-size: 16px;
      padding-left: 10px; }
  header .top .search {
    margin-top: 9px;
    /* Firefox 19+ */
    /* Firefox 18- */ }
    header .top .search ::-webkit-input-placeholder {
      color: #979292;
      font-family: "OpenSans";
      font-weight: normal;
      font-size: 14px; }
    header .top .search ::-moz-placeholder {
      color: #979292;
      font-family: "OpenSans";
      font-weight: normal;
      font-size: 14px; }
    header .top .search :-moz-placeholder {
      color: #979292;
      font-family: "OpenSans";
      font-weight: normal;
      font-size: 14px; }
    header .top .search :-ms-input-placeholder {
      color: #979292;
      font-family: "OpenSans";
      font-weight: normal;
      font-size: 14px; }
    header .top .search input {
      border: none;
      border-radius: 30px;
      background-color: #e6e6e6;
      width: 267px;
      height: 30px;
      padding-left: 11px;
      padding-right: 40px; }
    header .top .search button {
      float: right;
      position: absolute;
      top: 2px;
      left: 239px;
      background: none;
      border: none; }
  header .top .social {
    padding-left: 50px; }
    header .top .social img {
      opacity: 0.7;
      transition: all 0.5s linear; }
    header .top .social img:hover {
      opacity: 1; }
  header .top .lang {
    margin-top: 5px; }
    header .top .lang button {
      width: 68px;
      background-color: #e6e6e6;
      border: none;
      font-family: "OpenSans";
      font-weight: normal;
      color: #5a5a5a;
      font-size: 16px;
      border-radius: 12px;
      transition: all 0.3s linear; }
      header .top .lang button img {
        margin-left: -10px;
        margin-bottom: 1px; }
    header .top .lang button:hover, header .top .lang button.active {
      background-color: #448ccb;
      color: #fff; }

header .middle {
  padding-top: 12px;
  padding-bottom: 12px; }
  header .middle .weather table {
    max-width: 425px;
    font-family: "OpenSans";
    font-weight: normal;
    font-size: 16px;
    color: #5a5a5a;
    line-height: 1.3; }
  header .middle .weather td:nth-child(even) {
    text-align: center;
    color: #448ccb; }
  header .middle .weather td:nth-child(2) {
    border-right: 1px solid #e6e6e6;
    padding-right: 5px; }
  header .middle .weather td:nth-child(3) {
    padding-left: 10px; }
  header .middle .webcam_btn {
    width: 166px;
    height: 45px;
    border: none;
    border-radius: 10px;
    background-color: #e6e6e6;
    font-family: "OpenSans";
    font-weight: normal;
    font-size: 16px;
    color: #5a5a5a;
    margin-top: 40px;
    transition: all 0.5s linear; }
  header .middle .webcam_btn:hover {
    background-color: #dbdbdb; }
  header .middle .contact {
    font-family: "OpenSans"; }
    header .middle .contact span {
      font-weight: bold;
      font-size: 16px;
      color: #5a5a5a; }
      header .middle .contact span img {
        padding-right: 8px; }
    header .middle .contact button {
      width: 165px;
      height: 35px;
      font-size: 16px;
      color: #fff;
      font-weight: normal;
      border: none;
      border-radius: 17px;
      margin-top: 7px;
      transition: all .2s linear; }
    header .middle .contact .call {
      background-color: #448ccb; }
    header .middle .contact .call:hover {
      background-color: #267dc8; }
    header .middle .contact .route {
      background-color: #68c201; }
    header .middle .contact .route:hover {
      background-color: #7fc72c; }

header nav.navbar {
  background-color: #448ccb;
  border: none;
  border-radius: 0;
  margin-bottom: 0; }
  header nav.navbar ul.nav {
    display: inline-flex;
    width: 100%;
    justify-content: center; }
    header nav.navbar ul.nav li {
      padding-left: 30px;
      padding-right: 30px;
      border-left: 1px solid #8fbae0; }
    header nav.navbar ul.nav li:nth-child(1) {
      border-left: none; }
    header nav.navbar ul.nav a {
      text-align: center;
      color: #fff;
      display: inline-block;
      border-bottom: 1px solid transparent;
      padding: 0;
      transition: all 0.3s linear; }
    header nav.navbar ul.nav a:hover, header nav.navbar ul.nav a:active, header nav.navbar ul.nav a:focus {
      background-color: #448ccb;
      color: #fff;
      border-color: #fff; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff; }

.slider_block {
  min-height: 505px;
  font-family: "OpenSans";
  background: url("..//images/slider_bg_1.jpg") no-repeat;
  background-size: 118%;
  padding-top: 45px;
  padding-bottom: 60px; }
  .slider_block .slide {
    padding-left: 65px;
    padding-right: 65px; }
  .slider_block .text_block {
    background: url(..//images/text_block_bg.png);
    float: none;
    width: 555px;
    min-height: 230px;
    padding-top: 10px; }
    .slider_block .text_block h1 {
      font-family: "OpenSans";
      font-weight: bold;
      margin: 0;
      font-size: 48px;
      color: #fff;
      text-transform: uppercase; }
    .slider_block .text_block h2 {
      font-family: "OpenSans";
      font-weight: bold;
      font-size: 36px;
      color: #fc3838;
      margin: 0;
      margin-top: 20px; }
    .slider_block .text_block p {
      font-family: "OpenSans";
      margin-top: 15px;
      font-weight: normal;
      font-size: 18px;
      color: #fff;
      line-height: 1.2; }
  .slider_block .more {
    font-family: "OpenSans";
    width: 170px;
    height: 43px;
    background-color: #68c201;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    margin-top: 10px;
    transition: all 0.5s linear; }
  .slider_block .more:hover {
    background-color: #62b700; }
  .slider_block .controls {
    position: relative;
    bottom: 200px; }
    .slider_block .controls #slider-prev {
      float: left; }
    .slider_block .controls #slider-next {
      float: right; }
  .slider_block .order {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 12px 20px; }
    .slider_block .order form {
      width: 100%;
      display: inline-flex;
      justify-content: space-between; }
    .slider_block .order button {
      border: none;
      background-color: #68c201;
      width: 200px;
      height: 45px;
      font-family: "OpenSans";
      font-size: 16px;
      color: #fff;
      transition: all 0.5s linear; }
    .slider_block .order button:hover {
      background-color: #62b700; }
    .slider_block .order select {
      width: 200px;
      height: 45px;
      padding-left: 12px;
      border: none; }
    .slider_block .order input {
      width: 130px;
      height: 45px;
      padding-left: 12px;
      border: none; }
    .slider_block .order .calendar {
      width: 24px;
      height: 26px; }
    .slider_block .order .calendar1 {
      position: absolute;
      left: 120px;
      top: 20px; }
    .slider_block .order .calendar2 {
      position: absolute;
      left: 265px;
      top: 20px; }

section.text h1 {
  font-family: "OpenSans";
  font-size: 36px;
  font-weight: normal;
  color: #5a5a5a;
  position: relative;
  margin-top: 50px; }

section.text h1::after {
  content: "";
  display: block;
  position: absolute;
  width: 100px;
  height: 6px;
  background: #bbdefd;
  top: 110%; }

section.text h3 {
  font-family: "OpenSans";
  font-weight: bold;
  font-size: 16px;
  color: #5a5a5a;
  margin-top: 45px; }

section.text p {
  font-family: "OpenSans";
  font-weight: normal;
  font-size: 15px;
  color: #5a5a5a; }

section.text .pic {
  overflow: hidden;
  height: 615px;
  padding-top: 50px; }

.video_block {
  background: url("..//images/video_block_bg.jpg") no-repeat;
  background-size: 100% 100%;
  padding-top: 50px;
  padding-bottom: 50px; }
  .video_block iframe {
    border: none; }
  .video_block .container {
    min-height: 444px;
    background-color: #fff; }
  .video_block .text_block {
    padding: 50px 45px 50px 30px; }
  .video_block p {
    font-family: "OpenSans";
    font-size: 16px;
    color: #5a5a5a; }

section.news {
  padding-top: 30px;
  padding-bottom: 50px; }
  section.news h1 {
    text-align: center;
    position: relative;
    font-size: 36px;
    font-family: "OpenSans";
    color: #5a5a5a;
    margin-bottom: 20px; }
  section.news h1::after {
    content: "";
    display: block;
    position: absolute;
    width: 100px;
    height: 6px;
    right: 25%;
    background: #bbdefd;
    top: 40%; }
  section.news h1::before {
    content: "";
    display: block;
    position: absolute;
    width: 100px;
    height: 6px;
    left: 25%;
    background: #bbdefd;
    top: 40%; }
  section.news .news_img {
    height: 210px;
    overflow: hidden; }
    section.news .news_img img {
      position: absolute; }
  section.news span {
    color: #7b7979;
    font-family: "OpenSans";
    font-size: 18px;
    margin-top: 20px; }
  section.news p {
    font-family: "OpenSans";
    font-size: 18px;
    color: #5a5a5a;
    margin-top: 20px; }
  section.news .card {
    width: 360px;
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.05);
    padding: 20px 20px 30px 20px;
    margin-right: 30px; }
  section.news .card:last-child {
    margin-right: 0; }
  section.news .card-line {
    display: inline-flex;
    justify-content: center;
    width: 103%;
    flex-wrap: wrap; }
  section.news .button {
    width: 100%; }
  section.news button {
    margin: 0 auto;
    margin-top: 10px;
    font-family: "OpenSans";
    font-size: 18px;
    color: #fff;
    background-color: #56a200;
    border: none;
    width: 165px;
    height: 45px;
    border-radius: 50px;
    margin-top: 25px;
    transition: all 0.5s linear; }
  section.news button:hover {
    background-color: #498a00; }

section.bottom_block {
  background: url("..//images/bottom_block_bg.jpg") no-repeat;
  padding-top: 50px;
  padding-bottom: 50px; }
  section.bottom_block .card_row {
    width: 103%;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap; }
  section.bottom_block .card {
    background-color: #fff;
    width: 263px;
    padding: 0;
    text-align: center;
    padding-bottom: 20px;
    margin-right: 30px; }
  section.bottom_block .card:last-child {
    margin-right: 0; }
  section.bottom_block img {
    width: 263px; }
  section.bottom_block h2 {
    font-family: "OpenSans";
    font-weight: bold;
    color: #5a5a5a;
    font-size: 16px; }
  section.bottom_block p {
    font-family: "OpenSans";
    font-weight: normal;
    color: #5a5a5a;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px; }
  section.bottom_block .btn {
    width: 100%; }
  section.bottom_block .more {
    margin: 0 auto;
    margin-top: 10px;
    font-family: "OpenSans";
    font-size: 18px;
    color: #fff;
    background-color: #56a200;
    border: none;
    width: 165px;
    height: 45px;
    border-radius: 50px;
    transition: all 0.5s linear; }
  section.bottom_block .more:hover {
    background-color: #498a00; }

.pager {
  text-align: left; }
  .pager a {
    font-family: "Open Sans";
    font-size: 16px;
    color: #5a5a5a;
    display: inline-block;
    border-bottom: 1px solid transparent;
    transition: all 0.5s linear; }
  .pager a.active {
    color: #448ccb; }
  .pager a:hover {
    border-bottom-color: #5a5a5a; }
  .pager a.active:hover {
    border-bottom-color: #448ccb; }

h1.block_title {
  text-align: center;
  font-family: "Open Sans";
  font-size: 36px;
  color: #5a5a5a;
  font-weight: normal;
  position: relative;
  text-transform: uppercase; }

h1.block_title::after {
  content: "";
  display: block;
  position: absolute;
  width: 100px;
  height: 6px;
  right: 30%;
  background: #bbdefd;
  top: 50%; }

h1.block_title::before {
  content: "";
  display: block;
  position: absolute;
  width: 100px;
  height: 6px;
  left: 30%;
  background: #bbdefd;
  top: 50%; }

.contacts {
  padding-bottom: 40px; }
  .contacts h1 {
    margin-bottom: 40px; }
  .contacts h2 {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: bold;
    color: #5a5a5a;
    margin-bottom: 0; }
  .contacts p {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: normal;
    color: #5a5a5a; }
  .contacts button {
    width: 195px;
    height: 45px;
    background-color: #56a200;
    border: none;
    border-radius: 50px;
    transition: all 0.5s linear;
    font-size: 16px;
    font-family: "Open Sans";
    color: #fff;
    margin-top: 10px; }
  .contacts button:hover {
    background-color: #498a00; }
  .contacts .bottom_text {
    margin-top: 30px; }
  .contacts iframe {
    height: 250px;
    width: 100%; }

.friends {
  padding-bottom: 30px; }
  .friends .block_title {
    margin-bottom: 20px; }
  .friends h1.block_title::after {
    right: 25%; }
  .friends h1.block_title::before {
    left: 25%; }
  .friends .photo_line {
    margin-bottom: 30px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center; }
  .friends .friend_pic {
    transition: all 0.3s linear;
    margin-top: 30px; }
  .friends .fade_with_text {
    background: url("..//images/friend_fade_bg.png");
    position: absolute;
    bottom: 0px;
    height: 70px;
    width: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s linear; }
    .friends .fade_with_text a {
      text-align: center;
      color: #fff;
      font-size: 20px;
      font-family: "Open Sans";
      font-weight: normal;
      text-decoration: none; }
    .friends .fade_with_text a:hover {
      text-decoration: underline; }
  .friends .friend_pic:hover .fade_with_text {
    height: 100%; }

.news_page {
  padding-bottom: 40px; }
  .news_page h1 {
    margin-bottom: 70px; }
  .news_page h1.block_title::after {
    right: 18%; }
  .news_page h1.block_title::before {
    left: 18%; }
  .news_page h2, .news_page p, .news_page span {
    font-family: "Open Sans";
    font-size: 16px;
    color: #5a5a5a;
    font-weight: normal; }
  .news_page h2 {
    font-weight: bold;
    display: block;
    margin-bottom: 30px; }
  .news_page span {
    color: #448ccb; }
  .news_page button.read_more {
    width: 185px;
    height: 40px;
    color: #fff;
    font-family: "Open Sans";
    font-size: 16px;
    background-color: #68c201;
    transition: all 0.5s linear;
    border: none;
    border-radius: 50px;
    float: right;
    margin-top: -12px; }
  .news_page button.read_more:hover {
    background-color: #498a00; }
  .news_page .pager button {
    width: 23px;
    height: 23px;
    border: none;
    background: none;
    transition: all 0.5s linear; }
  .news_page .pager .prev_page, .news_page .pager .next_page {
    background-color: #dadada;
    padding-bottom: 3px;
    transition: all 0.5s linear; }
  .news_page .pager .prev_page:hover, .news_page .pager .next_page:hover {
    background-color: #969696; }
  .news_page .pager #active, .news_page .pager .page_number:hover {
    background-color: #68c201;
    color: #fff; }
  .news_page .news_min_article {
    margin-bottom: 40px; }

.cottage {
  padding-bottom: 40px; }
  .cottage h1 {
    margin-bottom: 30px; }
  .cottage h1.block_title::after {
    right: 18%; }
  .cottage h1.block_title::before {
    left: 18%; }
  .cottage #bx-pager {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 23px; }
    .cottage #bx-pager img {
      width: 125px; }
    .cottage #bx-pager a {
      border: 2px solid transparent;
      transition: all 0.5s linear; }
    .cottage #bx-pager a.active {
      border-color: #68c201;
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75); }
  .cottage .controls {
    position: relative;
    bottom: 294px; }
    .cottage .controls #slider-prev {
      float: left; }
    .cottage .controls #slider-next {
      float: right; }
  .cottage .cottage_slider_block {
    margin-top: 10px; }
  .cottage .info_line {
    background-color: #d0f6ff;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
    .cottage .info_line h2 {
      font-family: "Open Sans";
      font-size: 24px;
      color: #448ccb;
      font-weight: bold; }
    .cottage .info_line span {
      font-family: "Open Sans";
      font-size: 24px;
      color: #5a5a5a;
      font-weight: normal; }
    .cottage .info_line img {
      margin-right: 10px; }
  .cottage .cottage_text {
    margin-top: 30px; }
    .cottage .cottage_text h2, .cottage .cottage_text p {
      font-family: "Open Sans";
      font-size: 24px;
      color: #5a5a5a;
      font-weight: bold; }
    .cottage .cottage_text p {
      font-size: 16px;
      font-weight: normal; }

.room_fond {
  margin: 10px;
  padding-bottom: 50px; }
  .room_fond h1.block_title::after {
    right: 20%; }
  .room_fond h1.block_title::before {
    left: 20%; }
  .room_fond .outside_fade {
    background: url("..//images/friend_fade_bg.png");
    position: absolute;
    bottom: 115px;
    height: 80px;
    width: 555px;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    transition: all 0.3s linear; }
    .room_fond .outside_fade h2 {
      color: #fff;
      font-size: 36px;
      font-weight: normal;
      font-family: "Open Sans"; }
    .room_fond .outside_fade span {
      font-family: "Open Sans";
      font-size: 30px;
      color: #ff5555;
      font-weight: bold; }
  .room_fond .fade_card:hover .outside_fade {
    height: 79%; }
  .room_fond .card_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .room_fond .card {
    margin: 0 auto;
    margin-top: 50px;
    max-width: 555px; }
    .room_fond .card p {
      font-size: 16px;
      color: #5a5a5a;
      font-weight: normal;
      font-family: "Open Sans";
      text-align: center; }
    .room_fond .card button {
      width: 162px;
      height: 40px;
      border: none;
      color: #fff;
      font-family: "Open Sans";
      font-size: 16px;
      margin: 0 auto;
      transition: all 0.5s linear;
      border-radius: 50px; }
    .room_fond .card .more {
      float: left;
      margin-left: 30px;
      background-color: #a7a7a7; }
    .room_fond .card .more:hover {
      background-color: #8a8a8a; }
    .room_fond .card .order {
      float: right;
      margin-right: 30px;
      background-color: #68c201; }
    .room_fond .card .order:hover {
      background-color: #498a00; }
  .room_fond .text_block {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: normal;
    color: #5a5a5a;
    margin-top: 40px; }

.entertainment {
  padding-bottom: 50px; }
  .entertainment h1 {
    margin-bottom: 30px; }
  .entertainment p {
    font-family: "Open Sans";
    font-size: 16px;
    color: #5a5a5a;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center; }
  .entertainment .food_card {
    width: 300px;
    text-align: center;
    border: 1px solid #d5d5d5;
    padding: 0;
    padding-bottom: 20px;
    margin-left: 1px; }
    .entertainment .food_card img {
      width: 100%; }
    .entertainment .food_card h2 {
      text-align: center;
      font-size: 16px;
      font-family: "Open Sans";
      color: #5a5a5a;
      font-weight: bold; }
    .entertainment .food_card p {
      text-align: center;
      font-size: 16px;
      color: #5a5a5a;
      font-family: "Open Sans"; }
    .entertainment .food_card button {
      width: 165px;
      height: 40px;
      color: #fff;
      font-size: 16px;
      font-family: "Open Sans";
      background-color: #68c201;
      transition: all 0.5s linear;
      border: none;
      border-radius: 50px; }
    .entertainment .food_card button:hover {
      background-color: #498a00; }
  .entertainment .food_card:hover {
    box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.75); }
  .entertainment .controls {
    position: relative;
    bottom: 250px; }
    .entertainment .controls #slider-prev {
      float: left; }
    .entertainment .controls #slider-next {
      float: right;
      margin-right: 75px; }
  .entertainment .food h1.block_title::after {
    right: 7%; }
  .entertainment .food h1.block_title::before {
    left: 7%; }

.photo_page {
  padding-bottom: 50px; }
  .photo_page .photo_line {
    margin-bottom: 30px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center; }
  .photo_page .photo_pic {
    transition: all 0.3s linear;
    margin-top: 30px; }
  .photo_page .fade_with_text {
    background: url("..//images/friend_fade_bg.png");
    position: absolute;
    bottom: 0px;
    height: 70px;
    width: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s linear; }
    .photo_page .fade_with_text a {
      text-align: center;
      color: #fff;
      font-size: 20px;
      font-family: "Open Sans";
      font-weight: normal;
      text-decoration: none; }
    .photo_page .fade_with_text a:hover {
      text-decoration: underline; }
  .photo_page .photo_pic:hover .fade_with_text {
    height: 100%; }
  .photo_page .photo_archive {
    width: 356px;
    height: 60px;
    color: #fff;
    font-size: 18px;
    font-family: "Open Sans";
    background-color: #68c201;
    transition: all 0.5s linear;
    border: none;
    margin-top: 40px; }
  .photo_page .photo_archive:hover {
    background-color: #498a00; }
  .photo_page .controls {
    position: relative;
    bottom: 170px; }
    .photo_page .controls #slider-prev {
      float: left; }
    .photo_page .controls #slider-next {
      float: right;
      margin-right: 30px; }
  .photo_page .btn_holder {
    text-align: center; }

/*FOOTER*/
footer {
  background: url("..//images/fish_pattern.png");
  padding-top: 43px;
  padding-bottom: 50px;
  margin-top: -8px; }
  footer .contact .social {
    margin-top: 10px; }
  footer .contact .email {
    font-family: "OpenSans";
    font-size: 16px;
    color: #fff;
    font-weight: normal;
    padding-left: 10px; }
  footer .contact .phone {
    font-family: "OpenSans";
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    padding-left: 15px; }
  footer .footer_menu a {
    display: inline-block;
    font-family: "OpenSans";
    font-weight: normal;
    color: #fff;
    font-size: 16px; }
  footer .footer_menu a:hover {
    text-decoration: underline; }
  footer .footer_menu li {
    list-style-type: none; }
  footer .copy {
    text-align: right; }
    footer .copy span {
      font-family: "PT_Sans";
      font-size: 16px;
      color: #fff; }
    footer .copy span:nth-child(2) {
      display: block; }
    footer .copy a {
      font-family: "PT_Sans";
      font-size: 16px;
      color: #fab76c; }

.popup_fade {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.4;
  position: fixed;
  left: 0;
  top: 0;
  display: none; }

.popup {
  position: fixed;
  left: 33%;
  top: 33%;
  display: none; }
  .popup .title {
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: #448ccb;
    border-radius: 3px 3px 0 0; }
    .popup .title h1 {
      font-family: "Open Sans";
      font-size: 24px;
      color: #fff;
      margin: 0;
      text-align: center; }
    .popup .title #close_popup {
      background: none;
      border: none;
      padding: 0;
      float: right;
      margin-bottom: 15px;
      position: relative;
      top: -15px;
      right: 10px; }
  .popup .form_wrapper {
    background-color: #fff;
    width: 100%;
    padding-top: 30px;
    border-bottom: 8px solid #448ccb;
    border-radius: 0 0 3px 3px; }
  .popup form {
    max-width: 275px;
    margin: 0 auto; }
  .popup input {
    width: 275px;
    height: 40px;
    border: none;
    background-color: #e6e6e6;
    padding-left: 15px;
    margin-bottom: 11px; }
  .popup .submit_btn {
    background-color: #68c201;
    color: #fff;
    width: 275px;
    height: 40px;
    border: none;
    font-size: 16px;
    font-family: "Open Sans";
    margin-top: 20px;
    margin-bottom: 30px; }

@media (min-device-width: 1920px) {
  section.bottom_block {
    background-size: 100%; } }

@media (max-device-width: 1199px) {
  header .top .lang {
    padding-left: 83px; }
  header .top .social {
    padding-left: 99px; }
  header .middle .webcam_btn {
    margin-top: 25px; }
  header .middle .contact {
    margin-left: -15px;
    margin-top: 20px;
    text-align: center; }
  .slider_block {
    background-size: cover; }
  section.news .card {
    margin-top: 30px; }
  section.bottom_block .card {
    margin-top: 30px; }
  section.bottom_block {
    background-size: cover; }
  .vid iframe {
    width: 550px; }
  h1.block_title::before {
    left: 20%; }
  h1.block_title::after {
    right: 20%; }
  .news_page button.read_more {
    margin-top: 0; }
  .news_page h2 {
    margin-top: 0; }
  .news_page h1.block_title::before {
    left: 10%; }
  .news_page h1.block_title::after {
    right: 10%; }
  .cottage_big_pic img {
    width: 108%;
    margin-top: 5px; }
  .room_inside h1.block_title::before {
    left: 25%; }
  .room_inside h1.block_title::after {
    right: 25%; }
  .photo_archive {
    margin-right: 90px; }
  .saun, .rest, .bil {
    text-align: center; }
    .saun img, .rest img, .bil img {
      margin-bottom: 15px; } }

@media (min-device-width: 768px) and (max-device-width: 992px) {
  header nav.navbar ul.nav {
    margin-bottom: 13px; } }

@media (max-device-width: 992px) {
  section.bottom_block .card:nth-child(2) {
    margin-right: 0; }
  section.news .card:nth-child(3) {
    margin-right: 30px; }
  footer .copy {
    text-align: center;
    margin-left: 160px;
    margin-top: 20px; }
  footer .contact {
    text-align: center;
    margin-left: 120px;
    margin-bottom: 20px; }
  section.news h1::before {
    left: 20%; }
  section.news h1::after {
    right: 20%; }
  .vid {
    padding: 0; }
    .vid iframe {
      width: 750px; }
  .slider_block .order form {
    flex-wrap: wrap;
    justify-content: center; }
  .slider_block .order input, .slider_block .order select, .slider_block .order button {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px; }
  .slider_block .order .calendar1, .slider_block .order .calendar2 {
    top: 30px; }
  .contacts button {
    margin-bottom: 30px; }
  .friends h1.block_title::before {
    left: 15%; }
  .friends h1.block_title::after {
    right: 15%; }
  .news_page h1.block_title::before, .news_page h1.block_title::after {
    display: none; }
  .room_inside .title-bottom h1.block_title::before {
    left: 0; }
  .room_inside .title-bottom h1.block_title::after {
    right: 0; }
  .photo_archive {
    margin-right: 0; } }

@media (max-device-width: 768px) {
  footer .copy {
    margin-left: 0; }
  footer .contact {
    margin-left: 0; }
  .footer_menu {
    text-align: center; }
    .footer_menu ul {
      padding: 0; }
  header .top {
    text-align: center; }
  header .top .search input {
    margin-right: -39px;
    padding-right: 35px; }
  header .top .search button {
    position: relative;
    left: -3px;
    top: -2px;
    float: none; }
  header .top .social {
    padding-left: 15px;
    margin-top: 15px; }
  header .top .lang {
    padding-left: 15px;
    margin-top: 10px; }
  header .middle .logo, header .middle .weather, header .middle .webcam {
    text-align: center; }
  header .middle .weather table {
    margin: 0 auto;
    margin-top: 20px; }
    header .middle .weather table tr:nth-child(2) td {
      padding: 15px 0; }
  header .middle .contact {
    text-align: center;
    margin-left: 0;
    padding-left: 15px; }
  header nav.navbar ul.nav {
    flex-wrap: wrap;
    padding-bottom: 15px; }
  header nav.navbar ul.nav li {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    border-top: 1px solid #fff;
    border-left: none; }
    header nav.navbar ul.nav li a {
      display: block;
      width: 100%; }
  header nav.navbar ul.nav li:first-child {
    border-top: none; }
  header nav.navbar ul.nav a:hover {
    border-color: transparent; }
  section.bottom_block .card {
    margin-right: 0; }
  .vid iframe {
    width: 100%; }
  .slider_block .order .calendar1, .slider_block .order .calendar2 {
    display: none; }
  h1.block_title::before, h1.block_title::after {
    display: none; }
  .contacts .text {
    text-align: center; }
  .news_page .news_min_article {
    text-align: center; }
  .news_page button.read_more {
    float: none; }
  .cottage .info_line {
    justify-content: center;
    text-align: center; }
  .cottage .cottage_slider_block {
    max-width: 564px; }
  .fond_pics {
    display: flex;
    flex-direction: column; }
  .room_inside .room_carusel_block {
    max-width: 564px; }
  .room_inside .plans_block {
    text-align: center; } }

@media (min-device-width: 992px) and (max-device-width: 1199px) {
  section.text .container {
    width: 100%; }
  .video_block .text_block {
    padding: 10px 45px 0 30px;
    margin-bottom: -10px; }
  section.news .card:nth-child(2) {
    margin-right: 0; }
  section.bottom_block .card:nth-child(3) {
    margin-right: 0; } }

@media (max-device-width: 768px) and (min-device-width: 541px) {
  section.bottom_block .card {
    margin-right: 30px; } }

@media (max-device-width: 680px) {
  .slider_block .controls {
    display: none; }
  .slider_block .text_block {
    width: 100%;
    padding-bottom: 30px; }
    .slider_block .text_block h1 {
      text-align: center; }
  .slider_block .more {
    margin-bottom: 30px; }
  section.news h1::before, section.news h1::after {
    display: none; }
  section.text .pic img {
    width: 96%; }
  .popup {
    left: 25%;
    top: 5%; } }

@media (max-device-width: 592px) {
  .slider_block .order input, .slider_block .order select, .slider_block .order button {
    width: 80%; }
  .cottage .cottage_slider_block {
    width: 100%; }
  .cottage #bx-pager {
    flex-wrap: wrap;
    justify-content: center; }
  .room_inside #bx-pager {
    flex-wrap: wrap;
    justify-content: center; } }

@media (max-device-width: 575px) {
  .cottage .controls {
    bottom: 400px; }
  .room_inside .controls {
    bottom: 400px; }
  .room_inside .plans_block img {
    width: 100%;
    margin-bottom: 30px; } }

@media (max-device-width: 510px) {
  .popup {
    width: 100%;
    left: 0; } }

@media (max-device-width: 400px) {
  .slider_block .text_block h1 {
    font-size: 36px; }
  section.news .card-line {
    width: 108%; }
  section.news .card {
    width: 300px;
    margin: 15px auto; }
  section.news .news_img img {
    width: 88%; }
  section.news .card:nth-child(3) {
    margin-right: auto; }
  .news_article .news_pic img {
    width: 95%; }
  .room_inside .pic_card {
    max-width: 300px;
    padding: 0; }
    .room_inside .pic_card img {
      max-width: 300px; }
  .room_inside .fond_fade {
    max-width: 300px; } }
