@media screen and (max-device-width: 1320px) {
	div.rate .content {
    
        margin-left: 0px;
}
	div.first_scene{
		    background-size: inherit;
		        min-height: 584px;
	}
}

@media screen and (max-device-width: 1600px) {

	div.first_scene{
		        min-height: 584px;
	}
}
@media screen  and (max-device-width: 1400px){
	div.bg_shine{
 		width: 100%;
	}
}
