html,
body {
  width: 640px;
}
div.first_scene {
  background: url(..//img_mobile/first_bg.png);
  background-attachment: fixed;
  min-height: 580px;
}
div.first_scene .contact_phones {
  width: 100%;
  text-align: center;
  margin: 0;
}
div.first_scene .first {
  margin-top: 30px;
}
div.first_scene .first img {
  width: 31%;
  margin-top: 40px;
}
div.first_scene .first .logo img {
  width: 95%;
}
div.first_scene .first .content h1 {
  font-size: 20px;
  margin-top: 10px;
}
div.first_scene .first .content p {
  font-size: 18px;
  margin-top: 7px;
}
div.first_scene .first .fourdays {
  width: 137px;
  margin: 0;
  float: right;
  margin-right: 127px;
}
div.first_scene .first .fourdays h2 {
  margin-top: 35px;
  font-family: mullerlight;
  font-size: 24px;
  color: #fff;
}
div.first_scene .first .fourdays .four {
  float: left;
  font-family: mullerheavy;
  font-size: 100px;
  color: #e3e93c;
  text-shadow: 0px 5px 5px rgba(17, 19, 21, 0.75);
  margin-left: 10px;
}
div.first_scene .first .fourdays .days {
  float: right;
  color: #3a7c40;
  font-size: 20px;
  word-wrap: break-word;
  margin-right: 20px;
  line-height: 1.5;
}
div.first_scene .first h3 {
  clear: both;
  font-size: 20px;
  font-family: mullerbold;
  color: #2f2f2f;
  float: right;
  width: 137px;
  margin-right: 128px;
}
div.first_scene .first button {
  width: 173px;
  height: 40px;
  background-image: -moz-linear-gradient(0deg, #377a3d 0%, #4ebd4e 50%, #34743a 100%);
  background-image: -webkit-linear-gradient(0deg, #377a3d 0%, #4ebd4e 50%, #34743a 100%);
  background-image: -ms-linear-gradient(0deg, #377a3d 0%, #4ebd4e 50%, #34743a 100%);
  box-shadow: 0px 10px 16.83px 0.17px rgba(17, 19, 21, 0.75);
  font-family: mullerlight;
  font-size: 16px;
  color: #fff;
  border: none;
  float: right;
  margin-top: 86px;
  position: relative;
  left: 155px;
}
div.stock {
  height: 830px;
}
div.stock .borderbottom {
  top: 373px;
}
div.stock .content {
  margin-top: 20px;
}
div.stock .content h1 {
  font-size: 35px;
}
div.stock .content .onehundred {
  float: none;
  width: 35%;
  margin: 0 auto;
  margin-top: 20px;
}
div.stock .content .onehundred span {
  top: -15px;
  text-align: center;
  width: 100%;
  display: block;
  letter-spacing: 14px;
}
div.stock .content .onehundred p {
  text-align: center;
}
div.stock .content .calculator {
  float: right;
  width: 65%;
  box-shadow: 0px 0px 44px 1px rgba(0, 0, 0, 0.75);
  margin-right: 97px;
  margin-top: 30px;
  padding: 18px;
}
div.stock .content .calculator .sliders {
  width: 98%;
}
div.stock .content .calculator .result {
  margin-right: 70px;
}
div.case {
  background: url(..//img_mobile/case_bg.png);
  background-attachment: fixed;
}
.case_slider .bx-viewport {
  width: 494px !important;
  height: 843px !important;
}
.case_slider .lefttext {
  width: 43%;
}
.case_slider .righttext {
  width: 231px;
  float: none;
}
.case_slider .bx-wrapper .workpreview {
  box-shadow: none;
}
.case_slider .bx-wrapper .workpreview img {
  width: 68%;
  box-shadow: 0px 5px 12px 0px rgba(17, 19, 21, 0.75);
}
.case_slider .res_block {
  float: none;
  width: 43%;
  height: 367px;
  margin-top: 293px;
  box-shadow: 0px 5px 12px 0px rgba(17, 19, 21, 0.75);
}
.case_slider .res_block h2 {
  height: 24px;
}
.case_slider .res_block table {
  width: 81%;
  height: 52%;
}
.case_slider .res_block table td {
  padding-top: 14px;
  padding-left: 5px;
}
.case_slider .res_block table .td2 {
  padding-right: 8px;
}
#slider1-prev {
  margin-left: 20px!important;
  bottom: 490px!important;
}
#slider1-next {
  bottom: 490px!important;
  margin-right: 20px!important;
}
div.rate{
      min-height: 900px;
}
div.rate .wrapper {
  width: 100%;
}
div.rate .wrapper .content {
  margin-left: 10px;
}
div.rate .wrapper .plans {
  margin-right: -360px;
  margin-top: 15px;
}
div.rate div.bx-viewport {
  width: 30%!important;
  overflow: hidden;
  position: relative;
  bottom: 680px;
  height: 727px!important;
  left: 261px;
}
div.rate div.bx-viewport div.col ul li img {
  margin: 0 auto!important;
}
div.rate .bx-wrapper {
  height: 30px;
}
div.rate .goof {
  position: relative;
  top: 150px;
  left: 215px;
}
div.contacts {
  min-height: 400px;
}
div.contacts .text_cont {
  margin: 0;
  margin-left: 90px;
}
div.contacts .phone {
  float: left;
  margin-right: 10px;
}
div.contacts .adress {
  float: left;
  margin-right: 10px;
}
div.contacts .mail {
  float: left;
}
div.contacts .connect {
  margin-right: 70px;
  width: 80%;
  margin-top: 20px;
}
footer .right_block .text_logo {
  width: 354px;
  margin-top: 25px;
}
footer .right_block .social {
  margin-top: 15px;
  margin-left: 36px;
}
