@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "MyriadProBold";
    src: url("../fonts/MyriadProBold/MyriadProBold.eot");
    src: url("../fonts/MyriadProBold/MyriadProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProBold/MyriadProBold.woff") format("woff"),
    url("../fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/*HEADER*/
header{
	display: block;
	min-height: 90px;
}
div.logo{
	margin-left: 12%;
	float: left;
	margin-top: 1.8%;
	font-size: 30.3px;
	font-family: "MyriadProRegular";
}
div.logo span{
	color: #1298dd;
	font-size: 36.3px;
}
div.main_menu{
	float: right;
	margin-top: 1.8%;
	margin-right: 12%;
}
div.main_menu li{
	display: inline;
	margin-left: 40px;
	font-size: 16.35px;

}
button.cont_us{
	border: 1px solid #1784d1;
	background-color: #36b0f7;
	padding: 8px 14px 8px 14px;
	border-radius: 5px;
	color: #fff;

}
div.main_menu a{
	color: #676767;
}
/*FOOTER*/
footer{
	text-align: center;
	color: #fff;
	font-family: "MyriadProRegular";
	font-size: 14px;
	background-color: #414141;
	height: 25px;
	padding-top: 8px;

}
footer p{
	margin:0;
}
/*MAIN*/


div.main{
	background: url(..//images/main_bg.jpg) no-repeat;
	-moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
	background-position:  center;
	min-height: 535px;
	max-height: 540px
}
div.slogan h1{
	font-family: "MyriadProRegular";
	margin-top: 170px;
	font-size: 52.3px;
	color: #fff;
}
div.slogan h2{
	font-family: "MyriadProRegular";
	font-size: 48.3px;
	color: #fff;
}


button.ask{
	 font-family: "MyriadProBold";
	 font-size: 34.3px;
	 color: #fff;
	 background-color: #64cc4e;
	 border: 1px solid #64cc4e;
	 border-radius: 5px;
	 padding: 20px 60px;
	 -webkit-box-shadow: 0px 0px 0px 6px rgba(107,165,201,0.60);
	 -moz-box-shadow: 0px 0px 0px 6px rgba(107,165,201,0.60);
	 box-shadow: 0px 0px 0px 6px rgba(107,165,201,0.60);
	 margin-top: 50px;
}



/*EGGS*/

div.eggs{
	background-color: #ececec;
	min-height: 570px;
	font-family: "MyriadProRegular";
	color: #7e7c7c;
	    margin-bottom: 20px;
}
div.eggs h2{
	margin-top: 215px;
	font-size: 26.3px;
}
div.eggs h3{
	font-size: 22.3px;
}

div.egg{
	max-width: 780px;
	margin: 0 auto;
	margin-top: 55px;
}
div.eggblock{
	width: 140px;
	text-align: center;
	float:left; 
    margin-left:73px;
}
div.eggblock p{
	margin-top: 20px;
	font-size: 20.3px;
	color: #7e7c7c;
	font-family: "MyriadProRegular";

}
div.circle{
	width: 135px;
	height: 135px;
	border: 1px solid #fff;
	margin: 0;
	border-radius: 100px;
	text-align: center;
	background-color: #fff;

}
div.circle img{
	margin-top: 17px;
}



/*UP BLOCK*/
div.up_block{
	width: 36%;
    
	margin: 0 auto;
	z-index: 3;
	border: 1px solid #fff;
	border-bottom:7px solid #51c03d; 
	border-radius: 5px;
	background-color: #fff;
	position: fixed;
	bottom: 40%;
    left: 30%;
	font-family: "MyriadProRegular";
	-webkit-box-shadow: 0px 0px 12px 1px rgba(146,157,182,1);
	-moz-box-shadow: 0px 0px 12px 1px rgba(146,157,182,1);
	box-shadow: 0px 0px 12px 1px rgba(146,157,182,1);
}
div.up_block h2{
	font-size: 22.3px;
	color: #868686;
	text-align: center;
}
div.block_photos{
	margin-left: -25px;
}

div.places{
	float: left;
	margin-left: 7%;
}
div.places p{
	color: #929292;
	font-size: 14.3px;
}
div.places img{
	    width: 150%;
	    max-width: 200%;
}


div.bgc{
	
	background:url(../images/bg.png);
	z-index:2;
	 position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


div.bgc, div.up_block{
	display: none;
} 

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
div.wrapper {
    min-height: 100%;
    margin-bottom: -25px;
}
* html .wrapper {
    height: 100%;
}
div.buffer {
    height: 25px;
}











@media screen and (max-width: 1000px){
	header{
		min-height: 100px;
	}
	div.logo{
		margin: 0;
		width: 100%;
		text-align: center;
		margin-top: 2%;
	}
	div.main_menu{
		float: left;
		margin: 0;
		width: 100%;
		text-align: center;
	}


	div.main{
		background-size: auto;
	}
	div.eggblock{
		width:45%;
		    margin-left: 0;
	}
	div.circle{
		width: 200px;
		height: 200px;
		margin: 0 auto;
	}
	div.circle img{
		width: 90%;
		margin-top: 10px;
	}
	div.egg_text{
		    width: 40%;
    margin: 0 auto;
	}
	div.egg_text h2{
		    margin-top: 20%;
	}
	div.up_block{
		bottom: 10%;
	}
	div.places {
    width: 30%;
}

@media screen and (max-width: 500px){

	div.eggblock{
		width:100%;
		margin-left: 0;
		    margin-bottom: 30px;
	}
	div.main_menu{
		    margin-left: -29px;
	}
	div.slogan h1{
		    line-height: 53px;
	}
	div.slogan h2{
		    line-height: 85px;
	}
	div.cont_btn{margin-left: 25px !important}
}
@media screen and (max-width: 560px){
	header{min-height: 120px;}
}
