@font-face{
	font-family: "OpenSans";
	font-weight: normal;
	src: url("..//fonts/OpenSans-Regular.ttf")
}
@font-face{
	font-family: "OpenSans";
	font-weight: bold;
	src: url("..//fonts/OpenSans-Bold.ttf")
}
@font-face{
	font-family: "PT_Sans";
	src: url("..//fonts/PT_Sans-Web-Regular.ttf")
}