/*HEADER*/
header{
  .top{
    padding-top: 8px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    .email{
      margin-top: 10px;
      span{
        color: #5a5a5a;
        font-family: "OpenSans";
        font-weight: normal;
        font-size: 16px;
        padding-left: 10px;
      }
    }
    .search{
      margin-top: 9px;
      ::-webkit-input-placeholder {color:#979292; font-family: "OpenSans"; font-weight: normal; font-size:14px;}
      ::-moz-placeholder          {color:#979292; font-family: "OpenSans"; font-weight: normal; font-size:14px;}/* Firefox 19+ */
      :-moz-placeholder           {color:#979292; font-family: "OpenSans"; font-weight: normal; font-size:14px;}/* Firefox 18- */
      :-ms-input-placeholder      {color:#979292; font-family: "OpenSans"; font-weight: normal; font-size:14px;}
      input{
        border: none;
        border-radius: 30px ;
        background-color: #e6e6e6;
        width: 267px;
        height: 30px;
        padding-left: 11px;
        padding-right: 40px;
      }
      button{
        float: right;
        position: absolute;
        top: 2px;
        left: 239px;
        background: none;
        border: none;

      }
    }
    .social{
      padding-left: 50px;
      img{
        opacity: 0.7;
        transition: all 0.5s linear;
      }
      img:hover{
        opacity: 1;
      }
    }
    .lang{
      margin-top: 5px;
      button{
        width: 68px;
        background-color: #e6e6e6;
        border: none;
        font-family: "OpenSans";
        font-weight: normal;
        color: #5a5a5a;
        font-size: 16px;
        border-radius:12px;
        transition: all 0.3s linear;
        img{
          margin-left: -10px;
          margin-bottom: 1px;
        }
      }
      button:hover, button.active{
        background-color: #448ccb;
        color: #fff;
      }
    }
  }
  .middle{
    padding-top: 12px;
    padding-bottom: 12px;
    .weather{
      table{
        max-width: 425px;
        font-family: "OpenSans";
        font-weight: normal;
        font-size: 16px;
        color: #5a5a5a;
        line-height: 1.3;
      }
      td:nth-child(even){
        text-align: center;
        color: #448ccb;

      }
      td:nth-child(2){
        border-right: 1px solid #e6e6e6;
        padding-right: 5px;
      }
      td:nth-child(3){
        padding-left: 10px;
      }
    }
    .webcam_btn{
      width: 166px;
      height: 45px;
      border: none;
      border-radius: 10px;
      background-color: #e6e6e6;
      font-family: "OpenSans";
      font-weight: normal;
      font-size: 16px;
      color: #5a5a5a;
      margin-top: 40px;
      transition: all 0.5s linear;
    }
    .webcam_btn:hover{
      background-color: #dbdbdb;
    }

    .contact{
      font-family: "OpenSans";
      span{
        font-weight: bold;
        font-size: 16px;
        color: #5a5a5a;
        img{
          padding-right: 8px;
        }
      }
      button{
        width: 165px;
        height: 35px;
        font-size: 16px;
        color: #fff;
        font-weight: normal;
        border: none;
        border-radius: 17px;
        margin-top: 7px;
        transition: all .2s linear;
      }
      .call{
        background-color: #448ccb;
      }

      .call:hover{
        background-color: #267dc8;
      }
      .route{
        background-color: #68c201;
      }
      .route:hover{
        background-color: #7fc72c;
      }
    }
  }
  nav.navbar{
    background-color: #448ccb;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    ul.nav{
      display: inline-flex;
      width: 100%;
      justify-content: center;
      li{
        padding-left: 30px;
        padding-right: 30px;
        border-left: 1px solid #8fbae0;

      }
      li:nth-child(1){
        border-left: none;
      }
      a{
        text-align: center;
        color: #fff;
        display: inline-block;
        border-bottom: 1px solid transparent;
        padding: 0;
        transition: all 0.3s linear;

      }
      a:hover, a:active, a:focus{
        background-color: #448ccb;
        color: #fff;
        border-color: #fff;
      }
    }

  }
}
.navbar-default .navbar-toggle .icon-bar{
  background-color: #fff;
}