@media(max-width: 1200px) {
  header .header_wrapper .logo{
    padding-left: 0;
  }
  div.content_wrapper .banner{
    background-position-x: -110px;
  }
  div.content_wrapper .banner .banner_content{
    padding-left: 20px;
  }
  div.content_wrapper .popular .pop_block{
    justify-content: center;
  }
  div.content_wrapper .popular .title h1{
    text-align: center;
  }
  div.content_wrapper .popular .pop_block{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }
  div.content_wrapper .popular .popular_content{
    padding-bottom: 30px;
  }
}


@media (max-device-width: 992px) {
  .row{
    margin-left:0;
    margin-right:0;
  }
  footer .footer_menu .menu_content {
    min-height: 540px;
  }
  .float_menu{
    display: none;
  }
  header{
    padding-left: 10px;
    padding-right: 10px;
  }
  header .header_wrapper .top_bar .top_phones img{
    display: none;
  }
  header .header_wrapper .top_bar .top_phones span{
    padding-left: 10px;
    text-align: center;
  }
  div.content_wrapper .info_block .info_content {
    min-height: 270px;
    padding-bottom: 30px;
  }
  div.content_wrapper .info_block .info_content .insurance{
    padding-left: 10px;
  }
  div.content_wrapper .news .left_block{
    margin-bottom: 5px;
  }
  div.content_wrapper .news .right_block{
    padding-left: 0;
    padding-right: 0;
  }
  div.content_wrapper .news .news_content{
    padding-right: 10px;
    padding-bottom: 15px;
  }
  div.content_wrapper .popular .pop_block article{
    padding-top: 0;
  }
  div.content_wrapper .news .news_content{
    min-height: 570px;
  }
  header .header_wrapper .bottom_bar .bottom_menu .popup_menu{
    left: 0;
    top: 40px;
  }
}






@media (min-device-width: 768px) and (max-device-width: 992px){
  header .header_wrapper .top_bar .top_menu{
    justify-content: space-around;
  }
  header .header_wrapper .bottom_bar .bottom_menu{
    justify-content: space-around;
  }
  header .header_wrapper .bottom_bar .bottom_menu .popup_menu{
    left: 0;
    top: 40px;
  }
  header .header_wrapper{
    padding-bottom: 15px;
  }
}












@media (max-device-width: 768px) {
  header .header_wrapper .top_bar .top_phones{
    padding-top: 10px;
  }
  .content_wrapper .contacts, .content_wrapper .insurance, .content_wrapper .points{
    text-align: center;

  }
  div.content_wrapper .info_block .info_content .points ul li{
    list-style-image: none;
  }
  div.content_wrapper .info_block .info_content .square_buttons{
    padding-right: 10px;
    justify-content: space-around;
  }
  div.content_wrapper .btn_arrow button{
    margin-left: 35px;
  }
  footer .footer_menu .menu_content .menu ul{
    width: 278px;
    margin: 0 auto;
  }
  footer .footer_menu .menu_content .menu h1{
    text-align: center;
  }
  footer .footer_bottom .bottom_content ul{
    flex-wrap: wrap;
    height: 80px;
  }
  footer .footer_bottom .bottom_content ul li.item_5{
    text-align: center;
  }
  footer .footer_bottom .bottom_content ul li.item_3{
    padding-left: 10px;
    text-align: center;
  }
  div.content_wrapper .popular .pop_block .pic{
    margin-right: 0;
    padding-left: 10px;
    img{
      max-width: 100%;
    }
  }
  div.content_wrapper .popular .pop_block .button_block{
    display: flex;
    justify-content: center;
  }
  div.content_wrapper .banner .banner_content h1 {
    font-size: 28px;
  }
  div.content_wrapper .news .left_block{
    flex-wrap: wrap;
    justify-content: center;
  }
  div.content_wrapper .news .left_block .news_pic{
    margin-right: 0;
  }
  div.content_wrapper .news .title{
    padding-left: 0;
    padding-right: 0;
    .btn_arrow{
      button{
        margin: 0;
      }

    }
  }
  footer .footer_menu .menu_content .menu:nth-child(3), footer .footer_menu .menu_content .menu:nth-child(4){
    padding-top: 30px;
  }
  div.content_wrapper .news .news_content{
    min-height: 715px;
  }
  footer .footer_bottom .bottom_content{
    min-height: 110px;
  }
  div.content_wrapper .banner{
    background-position-x: -400px;
  }

}

@media (max-device-width: 390px) {
  header .header_wrapper .top_bar .top_menu{
    height: 70px;
    justify-content: space-around;
  }
  div.content_wrapper .news .news_content {
    min-height: 770px;
  }
}
@media (max-device-width: 350px){
  div.content_wrapper .news .news_content {
    min-height: 828px;
  }
}