@font-face {
  font-family: "MerriweatherBold";
  src: url("../fonts/MerriweatherBold/MerriweatherBold.eot");
  src: url("../fonts/MerriweatherBold/MerriweatherBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/MerriweatherBold/MerriweatherBold.woff") format("woff"),
  url("../fonts/MerriweatherBold/MerriweatherBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MerriweatherRegular";
  src: url("../fonts/MerriweatherRegular/MerriweatherRegular.eot");
  src: url("../fonts/MerriweatherRegular/MerriweatherRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/MerriweatherRegular/MerriweatherRegular.woff") format("woff"),
  url("../fonts/MerriweatherRegular/MerriweatherRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "FedraSerifAProBook";
  src: url("../fonts/FedraSerifAProBook.ttf");
}