a, a:active, a:visited, a:hover{
  text-decoration: none;
  color: #000;
}
li{
  list-style-type: none;
}
h1,h2,h3,h4,h5,h6,a,span,p{
  font-weight: normal;
}
textarea:focus, input:focus, button{
  outline: none;
}