@font-face {
  font-family: "RobotoRegular";
  src: url("..//fonts/RobotoRegular.ttf"); }

@font-face {
  font-family: "RobotoBold";
  src: url("..//fonts/RobotoBold.ttf"); }

@font-face {
  font-family: "RobotoLight";
  src: url("..//fonts/RobotoLight.ttf"); }

@font-face {
  font-family: "vida31";
  src: url("..//fonts/vida31pro.otf"); }

@font-face {
  font-family: "vida33";
  src: url("..//fonts/vida33pro.otf"); }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

a {
  text-decoration: none;
  color: #000; }

body {
  max-width: 1400px;
  margin: 0 auto; }

header {
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  min-height: 70px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dce6e9;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  header .logo {
    margin-left: 5%; }
  header .contact {
    margin-right: 5%;
    text-align: right; }
    header .contact h1 {
      font-size: 20px;
      color: #304f55; }
    header .contact a.message {
      border-bottom: 1px dotted #4a5f62;
      color: #4a5f62; }

nav {
  padding-left: 5%;
  padding-right: 5%; }
  nav .main_menu {
    display: inline-flex;
    flex-wrap: wrap; }
    nav .main_menu li {
      list-style-type: none;
      height: 45px;
      text-align: center; }
      nav .main_menu li a {
        display: block;
        margin-top: 12px;
        text-align: center;
        padding: 0 15px;
        border-right: 1px solid #dce6e9;
        font-family: "vida31";
        font-size: 15px; }
    nav .main_menu li:hover {
      background-color: #6cb243; }
      nav .main_menu li:hover a {
        border-right: none;
        color: #fff; }
    nav .main_menu li:last-child a {
      border-right: none; }
    nav .main_menu .sub_menu {
      display: none;
      width: 120%;
      position: relative;
      z-index: 3;
      top: 15px;
      border-top: 2px solid #6cb143; }
      nav .main_menu .sub_menu li {
        padding: 0;
        width: 100%;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center; }
        nav .main_menu .sub_menu li a {
          color: #000;
          padding: 0;
          margin: 0; }
    nav .main_menu .prod:hover .sub_menu {
      display: block;
      position: relative;
      top: 15px;
      border-top: 2px solid #6cb143; }
      nav .main_menu .prod:hover .sub_menu li:hover {
        background-color: #eaf4f7; }
  nav .search {
    height: 45px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center; }
    nav .search form .search_bar {
      display: none; }
    nav .search form .search_btn {
      border: none; }
    nav .search form .search_btn:focus, nav .search form .search_btn:active, nav .search form .search_bar:hover {
      display: block; }

section.slider {
  height: 616px; }
  section.slider .bxslider li {
    background: url("..//images/slider_bg.jpg") no-repeat;
    padding-top: 220px;
    padding-bottom: 200px;
    padding-left: 50px; }
    section.slider .bxslider li h1 {
      font-size: 48px;
      color: #354343;
      font-family: "vida33"; }
    section.slider .bxslider li p {
      font-size: 15px;
      font-family: "RobotoLight";
      color: #354343;
      display: block;
      width: 500px; }
    section.slider .bxslider li .more_btn {
      width: 140px;
      height: 40px;
      background-color: #32494c;
      border: none;
      border-radius: 2px;
      font-size: 15px;
      font-family: "RobotoLight";
      color: #fff; }

section.products {
  display: inline-flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 40px; }
  section.products div.prof_series h1 {
    width: 330px;
    text-align: center; }
  section.products div.prof_series img {
    position: absolute;
    top: 676px; }
  section.products div.home_series h1 {
    width: 230px;
    text-align: center; }
  section.products div.home_series img {
    position: absolute;
    top: 666px; }
  section.products div.product_block {
    border: 1px solid #e8e8e8;
    height: 145px;
    width: 570px;
    padding-left: 20px;
    color: #354343; }
    section.products div.product_block img {
      float: right;
      margin-left: 290px; }
    section.products div.product_block h1 {
      font-family: "vida33";
      font-size: 24px;
      background-color: #fff;
      position: relative;
      bottom: 15px; }
    section.products div.product_block p {
      font-family: "RobotoLight";
      font-size: 15px;
      margin-left: 15px;
      margin-bottom: 20px;
      width: 350px; }
    section.products div.product_block a {
      font-family: "RobotoLight";
      color: #556060;
      margin-left: 15px;
      margin-top: 20px; }

@media screen and (min-device-width: 1024px) and (max-device-width: 1279px) {
  section.slider .bxslider li {
    background-position-x: -122px; }
  section.products div.home_series img {
    top: 941px; } }

@media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  nav {
    display: flex; }
    nav .main_menu {
      width: 630px;
      justify-content: center;
      margin: 0 auto; }
  section.slider .bxslider li {
    background-position-x: -375px; }
  section.products div.prof_series img {
    top: 721px; }
  section.products div.home_series img {
    top: 987px; } }

@media screen and (min-device-width: 320px) and (max-device-width: 1279px) {
  section.products {
    display: flex;
    flex-direction: column;
    align-items: center; }
  section.products div.home_series {
    margin-top: 130px; } }

@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
  nav {
    display: flex; }
    nav .main_menu {
      width: 630px;
      justify-content: center;
      margin: 0 auto; }
  section.products div.prof_series img {
    top: 721px; }
  section.products div.home_series img {
    top: 987px; } }

@media screen and (min-device-width: 668px) and (max-device-width: 768px) {
  section.slider .bxslider li {
    background-position-x: -300px; } }

@media screen and (min-device-width: 320px) and (max-device-width: 668px) {
  header .logo {
    margin-right: 5%; }
  header .logo img {
    width: 100%; }
  section.products div.product_block img {
    display: none; }
  section.products div.product_block {
    width: 85%;
    height: auto;
    padding-bottom: 10px; }
  section.products div.product_block h1 {
    margin: 0 auto;
    text-align: center;
    width: 85%; }
  section.products div.product_block p {
    margin: 0 auto;
    text-align: center;
    width: 85%; }
  section.products div.product_block a {
    margin: 0 auto;
    width: 140px;
    display: block;
    margin-top: 15px; }
  section.products div.home_series {
    margin-top: 70px; }
  section.slider .bxslider li h1 {
    width: 80%;
    text-align: center;
    margin: 0 auto; }
  section.slider .bxslider li p {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px; }
  section.slider .bxslider li .more_btn {
    margin: 0 auto;
    display: block;
    margin-top: 30px; }
  section.slider .bxslider li {
    padding-left: 0; } }

@media screen and (min-device-width: 320px) and (max-device-width: 707px) {
  header {
    justify-content: center; }
    header .contact {
      margin: 0;
      text-align: center; } }

@media screen and (min-device-width: 320px) and (max-device-width: 592px) {
  .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    bottom: 160px; } }

@media screen and (min-device-width: 593px) and (max-device-width: 668px) {
  .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    bottom: 85px; } }
