@font-face {
    font-family: "MyriadProRegular";
    
    url("../fonts/glyphicons-halflings-regular.ttf");
    font-style: normal;
    font-weight: normal;
}

body{
	background: url(../images/background.png);
	margin: 0;
	padding: 0;
	font-family: "MyriadProRegular";
}
div{
	padding: 0; 
	max-width: 1280px;
}

div.main{
	background: url(../images/main_bg.jpg) no-repeat;
	background-position: center;
	min-height: 800px;
	margin: 0 auto;
}

div.logo{
	padding-top: 70px;
	padding-bottom: 80px;
	max-width: 280px;
	margin: 0 auto;
}
div.title{
	color: white;
	max-width: 600px;
	margin: 0 auto;
	
}
h1{
	line-height: 1.3;
	font-size: 49.35px;
	font-family: "MyriadProRegular";
}




div.boxes{
	margin: 0 auto;
	min-height: 400px; 
	padding-top: 170px;
	padding-bottom: 110px;
	padding-left: 200px;
	background-color: #fff;
}

div.documents img, div.photos img{
	float: left;
	padding-right: 30px;

}

div.documents p, div.photos p{
	padding-bottom: 15px;

}
div.doc_pho{
	max-width: 960px;
}







div.sec{
	margin: 0 auto;
	min-height: 1400px;
	background: url(../images/sec_bg.png);
	color: #fff;
}



div.sec div.first{
	max-width: 670px;
	margin: 0 auto;
	padding-top: 275px;
}

div.sec div.first h2{
	text-align:center;
	padding-bottom: 40px;
	font-size: 39.35px;
}
div.sec div.first p{
	font-size: 14px;
}

#more, #close{
	color: #741C11;
}
.none{display: none;}



div.sec .prerolled{
	max-width: 670px;
	margin: 0 auto;
	padding-top: 450px;
	margin-left: 570px;
}
div.sec .rolled{
	max-width: 670px;
	margin: 0 auto;
	margin-left: 570px;
	padding-top: 340px;
}
div.sec div.second h2{
	padding-bottom: 40px;
	font-size: 39.35px;
}
div.sec div.second p{
	font-size: 14px;
}

.download-btn{
	width: 200px;
	height: 55px;
	background: none;
	border: 3px solid white;
	border-radius: 7px;
	margin-top: 35px;

}








div.map{
	max-width: 1280px;
	margin: 0 auto;
	text-align: center;
	
}
div.slider{
	margin: 0;
	background: #44a36f;
	border-top: 3px solid white;
    border-bottom: 3px solid white;
    min-height: 50px;
}
.show-btn{
	width: 150px;
    height: 50px;
    background: none;
    border: 3px solid white;
    border-radius: 7px;
    color: #fff;
    margin-top: 5px;
    margin-bottom: 5px;
}
.cross{
	float: right;
	margin-right: 5px;
	margin-top: 8px;
}


.dev, .book{
	display: none;
}





@media (min-width: 0px) and (max-width: 980px){
	div.boxes{
		padding-left: 0;
		padding-right: 0;
		padding-top: 50px;
		padding-bottom: 50px;
		min-height: 400px;
	}
	div.doc_pho{
		margin: 0 auto;
		max-width: 400px;
    	margin: 0 auto;
	}
	div.documents{
		padding-bottom: 40px;

	}
}

@media (min-width: 0px) and (max-width: 1280px) {
	div.sec{
	background: url(../images/bg_adapt.png);
	}
	.dev{
		display: block;
		width: 155px;
		margin: 0 auto;
	}
	div.sec div.first{
		padding-top: 150px;
	}
	
}

@media (min-width: 1050px) and (max-width: 1280px){
#sec_par {
    margin-left: 0;
    margin-right: 0;
    width: 500px;
    float: right;
}
	.book {
    display: block;
    float: left;
    margin-top: 490px;
    margin-left: 250px;

	}
}

@media (min-width: 0px) and (max-width: 1050px){
	.book{
		display: block;
		width: 274px;float: left;
		padding-top: 490px;
		padding-left: 150px;

	}
	#sec_par{
		padding-top: 400px;
		max-height: 380px;
	}
}

