html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

a {
  text-decoration: none;
  color: #000; }

@font-face {
  font-family: "Open Sans Regular";
  src: url("..//fonts/OpenSans-Regular.ttf"); }

@font-face {
  font-family: "Open Sans Bold";
  src: url("..//fonts/OpenSans-Bold.ttf"); }

@font-face {
  font-family: "Open Sans Extrabold";
  src: url("..//fonts/OpenSans-ExtraBold.ttf"); }

@font-face {
  font-family: "Open Sans Italic";
  src: url("..//fonts/OpenSans-Italic.ttf"); }

@font-face {
  font-family: "Open Sans Light";
  src: url("..//fonts/OpenSans-Light.ttf"); }

@font-face {
  font-family: "Open Sans Semibold";
  src: url("..//fonts/OpenSans-Semibold.ttf"); }

header {
  background: url("..//images/bg.png") no-repeat;
  min-height: 426px;
  background-size: 100%; }
  header .content {
    width: 80%;
    margin: 0 auto; }
    header .content .text-block {
      max-width: 700px;
      padding-top: 86px; }
      header .content .text-block h1 {
        font-family: "Open Sans Italic";
        font-size: 24px;
        color: #fff;
        -ms-text-align-last: right;
        text-align: left; }
      header .content .text-block hr {
        margin-top: 30px;
        width: 70px;
        color: #7d949d;
        margin-left: 0; }
      header .content .text-block p {
        font-family: "Open Sans Italic";
        font-size: 18px;
        color: #fff;
        margin-top: 35px;
        text-align: left; }
        header .content .text-block p span {
          color: #91a4a9; }
    header .content .more_stories {
      margin-top: 60px;
      width: 350px;
      height: 60px;
      background-color: #49bc1f;
      border: none;
      border-radius: 3px;
      font-size: 18px;
      font-family: "Open Sans Semibold";
      color: #fff;
      cursor: pointer;
      text-transform: uppercase; }

div.wrapper {
  background-color: #eceeef;
  height: 100%; }
  div.wrapper .wrapper_content {
    width: 80%;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px; }
    div.wrapper .wrapper_content h1 {
      text-transform: capitalize;
      font-family: "Open Sans Extrabold";
      font-size: 32px;
      color: #2a4656;
      text-align: center;
      margin-bottom: 45px; }
    div.wrapper .wrapper_content .line {
      width: 100%;
      height: 1px;
      background-color: #fff;
      box-shadow: 2px 0px 0px 0px #d8dadb; }
    div.wrapper .wrapper_content .main_slider .cat_pager {
      max-width: 830px;
      margin: 32px auto;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      div.wrapper .wrapper_content .main_slider .cat_pager button {
        display: inline-block;
        padding: 13px 22px;
        border: 1px solid #d5d7d8;
        border-radius: 2px;
        background-color: #fff;
        font-size: 14px;
        font-family: "Open Sans Regular";
        color: #5e6469; }
      div.wrapper .wrapper_content .main_slider .cat_pager button.active {
        background-color: #3ab03a;
        box-shadow: inset 0.5px 0.866px 3px 0px rgba(0, 0, 0, 0.14);
        color: #fff; }
    div.wrapper .wrapper_content .main_slider .category_slider {
      padding: 0; }
    div.wrapper .wrapper_content .main_slider .category {
      list-style-type: none;
      display: none; }
    div.wrapper .wrapper_content .main_slider .sub_slider .project_slider {
      padding: 0; }
      div.wrapper .wrapper_content .main_slider .sub_slider .project_slider li {
        list-style-type: none; }
      div.wrapper .wrapper_content .main_slider .sub_slider .project_slider table {
        width: 100%;
        font-family: "Open Sans Regular";
        border-bottom: 1px solid #fff; }
        div.wrapper .wrapper_content .main_slider .sub_slider .project_slider table thead th {
          text-transform: uppercase;
          background-color: #dde1e3;
          height: 50px;
          vertical-align: middle;
          font-size: 13px;
          color: #2a4656;
          padding-left: 20px; }
        div.wrapper .wrapper_content .main_slider .sub_slider .project_slider table thead th:nth-child(3), div.wrapper .wrapper_content .main_slider .sub_slider .project_slider table thead th:nth-child(5) {
          text-align: right;
          padding-right: 20px; }
        div.wrapper .wrapper_content .main_slider .sub_slider .project_slider table thead th:nth-child(4) {
          text-align: center;
          padding: 0; }
        div.wrapper .wrapper_content .main_slider .sub_slider .project_slider table thead th:last-child {
          border-right: none; }
        div.wrapper .wrapper_content .main_slider .sub_slider .project_slider table tr.body_line td {
          height: 90px;
          vertical-align: middle; }
        div.wrapper .wrapper_content .main_slider .sub_slider .project_slider table tr.body_line td:nth-child(1), div.wrapper .wrapper_content .main_slider .sub_slider .project_slider table tr.body_line td:nth-child(2) {
          padding-left: 20px;
          font-size: 14px;
          color: #666666; }
        div.wrapper .wrapper_content .main_slider .sub_slider .project_slider table tr.body_line td:nth-child(3), div.wrapper .wrapper_content .main_slider .sub_slider .project_slider table tr.body_line td:nth-child(5) {
          text-align: right;
          padding-right: 20px;
          font-family: "Open Sans Bold"; }
        div.wrapper .wrapper_content .main_slider .sub_slider .project_slider table tr.body_line td:nth-child(3) {
          font-size: 18px;
          color: #2a4656; }
        div.wrapper .wrapper_content .main_slider .sub_slider .project_slider table tr.body_line td:nth-child(5) {
          font-size: 34px;
          color: #016da7; }
        div.wrapper .wrapper_content .main_slider .sub_slider .project_slider table tr.body_line td:nth-child(4) img {
          display: block;
          margin: 0 auto; }
        div.wrapper .wrapper_content .main_slider .sub_slider .project_slider table tr.body_line td:nth-child(6) {
          padding-left: 25px; }
          div.wrapper .wrapper_content .main_slider .sub_slider .project_slider table tr.body_line td:nth-child(6) img {
            float: left;
            margin-right: 10px; }
          div.wrapper .wrapper_content .main_slider .sub_slider .project_slider table tr.body_line td:nth-child(6) h2 {
            margin-top: 5px; }
            div.wrapper .wrapper_content .main_slider .sub_slider .project_slider table tr.body_line td:nth-child(6) h2 a {
              font-family: "Open Sans Bold";
              font-size: 14px;
              color: #09579c; }
          div.wrapper .wrapper_content .main_slider .sub_slider .project_slider table tr.body_line td:nth-child(6) p {
            font-size: 12px;
            color: #8e9ba3; }
        div.wrapper .wrapper_content .main_slider .sub_slider .project_slider table tr:nth-child(2), div.wrapper .wrapper_content .main_slider .sub_slider .project_slider table tr:nth-child(4) {
          background-color: #e8ebed; }
        div.wrapper .wrapper_content .main_slider .sub_slider .project_slider table tr td {
          border-bottom: 1px solid #d8dadb;
          border-top: 0.5px solid #fff; }
    div.wrapper .wrapper_content .main_slider .sub_slider .bx-pager-item a {
      background: #d5d6d7; }
    div.wrapper .wrapper_content .main_slider .sub_slider .bx-pager-item a.active {
      background: #006ca9; }
    div.wrapper .wrapper_content .main_slider .bx-viewport {
      max-height: 600px !important; }

@media screen and (max-device-width: 1400px) {
  header {
    background-size: auto; } }

@media screen and (min-device-width: 890px) and (max-device-width: 1150px) {
  header {
    background-position-x: -325px; } }

@media screen and (max-device-width: 889px) {
  header {
    background: url("..//images/bg_adaptive.png"); } }

@media screen and (max-device-width: 1271px) {
  div.wrapper .wrapper_content {
    width: 100%; } }

@media screen and (max-device-width: 1117px) {
  div.wrapper .wrapper_content .main_slider .sub_slider .project_slider table
tr.body_line td:nth-child(6) {
    text-align: center; }
    div.wrapper .wrapper_content .main_slider .sub_slider .project_slider table
tr.body_line td:nth-child(6) img {
      float: none;
      margin: 0 auto; }
  div.wrapper .wrapper_content .main_slider .sub_slider
.project_slider table tr.body_line td {
    height: 105px; } }

@media screen and (min-device-width: 689px) and (max-device-width: 1117px) {
  div.wrapper .wrapper_content .main_slider .bx-viewport {
    max-height: 675px !important; } }

@media screen and (max-device-width: 688px) {
  div.wrapper .wrapper_content .main_slider .bx-viewport {
    max-height: 780px !important; } }

@media screen and (max-device-width: 796px) {
  div.wrapper .wrapper_content .main_slider .cat_pager {
    height: 110px;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    div.wrapper .wrapper_content .main_slider .cat_pager button {
      height: 50px;
      margin: 0 5px; } }

@media screen and (max-device-width: 700px) {
  header .content .more_stories {
    margin-bottom: 30px; }
  div.wrapper .wrapper_content .main_slider
.sub_slider .project_slider table tr.body_line td:nth-child(5) {
    font-size: 20px; }
  div.wrapper .wrapper_content .main_slider .sub_slider .project_slider table tr.body_line td:nth-child(3) {
    font-size: 15px;
    color: #2a4656;
    width: 65px; }
  div.wrapper .wrapper_content .main_slider .sub_slider
.project_slider table thead th:nth-child(3), div.wrapper .wrapper_content
.main_slider .sub_slider .project_slider table thead th:nth-child(5) {
    text-align: center;
    padding: 0; }
  div.wrapper .wrapper_content .main_slider .sub_slider .project_slider table thead th {
    padding: 0;
    text-align: center; }
  div.wrapper .wrapper_content .main_slider .sub_slider .project_slider table tr.body_line td:nth-child(3), div.wrapper .wrapper_content
.main_slider .sub_slider .project_slider table tr.body_line td:nth-child(5) {
    padding: 0; } }

@media screen and (max-device-width: 471px) {
  div.wrapper .wrapper_content .main_slider .cat_pager {
    height: 165px; } }
